*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;

}
body{
    width: 100vw;
}
.navbar{
    height: 60px;
    color: white;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.nav-add{
    height: 50px;
    padding: 8px;
   
    
}
.add-first{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.add-second{
    
    font-size: 1rem;
    display: flex;
}
.add-second p{
    margin-left: 3px;
}
.nav-search{
    border: 2px solid ;
    margin: 0px 10px;
    display: flex;
    width: 890px;
    height: 40px;
   background-color: #febd68;
   border-radius: 4px;
   
}

.search-select{
    border-bottom-left-radius: 4px;
    border-top-left-radius:4px ;
    background-color: #e6e6e6;
    border: none;
    width: 50px;
    text-align: center;
}
.search-input{
    width: 100%;
    padding: 7px 10px 10px 0px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   color: black;
}
.nav-search:hover{
    border: 2px solid orange;
}
.nav-first{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.cart{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 50px;
    padding: 10px;
}
.cart-icon{
    font-size: 1.5rem;

}
.language{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 5px;
    padding: 10px;
}
.language img{
    width: 21.6px;
}

.another-navbar{
    width: 100vw;
    height: 39px;
    background-color: #242C3C;
    padding: 0px 18px;
}
.another-navbar{
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    gap: 15px;
}
.another-navbar div{
    display: flex;
    height: 37px;
    align-items: center;
    padding: 5px;
    
}
.all{
    gap: 7px;
}
.all i{
    font-size: 1.2rem;
}
.hero-section{
    background-image: url("hero.jpg");
    height: 300px;
   display: flex;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-mssg{
    background-color: #f5f6f6;
    height: 40px;
    width: 90%;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom:15px;
}
.hero-mssg a{
    text-decoration: none;
    color: #007185
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background: #C9D6FF;  
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
    flex-wrap: wrap;

}
.box{
    margin-top: 20px;
    height: 420px;
    width: 350px;
    
    padding: 20px 0px 15px;
    background-color: white;
}
.box-img{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-link a{
    text-decoration: none;
    font-size: 0.8rem;
}
.foot-panel1{
    margin-top: 10px;
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.85rem;
}

.lists h3{
    color: white;
}
.lists a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.736);
    
}
.lists{
    padding: 50px 0;
    background-color: #232f2e;
    height: 450px;
   
}
.lists ul{
    list-style-type: none;
}
.lists li{
    margin-top: 10px;
    
    
}
.list-container{
    
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
hr{
    margin-top: 80px;
    width: 100vw;
    border-width: 0.3px;
    border-color: rgba(255, 255, 255, 0.695);
}
.footer-image{
    margin-top: 20px;
   
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.footer-image img{
    
    height: 70px;
}

